<% include ../partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Bitcoin-Alerts</h1>
      <p>Receive price alerts for Bitcoin & your favorite coin</p>
      <p>
        <a class="btn btn-primary btn-large" href="/coin/new">Create a new alerts</a>
      </p>
    </div>
  </header>
  </div>
</div>

<% include ../partials/footer %>
